
<div class="row">
  <div class="col-lg-4" style="margin-left: 400px">
    <h1> Formulaire d'Ajout</h1>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" nbInput fullWidth placeholder="Nom" [(ngModel)]="employee.firstName" name="something" required>
      </div>
      <div class="form-group">
        <input type="text" nbInput fullWidth class="form-control" placeholder="Prénom" [(ngModel)]="employee.lastName" name="something1" required>
      </div>
      <div class="form-group">
        <input type="text" nbInput fullWidth  class="form-control" placeholder="Email" [(ngModel)]="employee.email" name="something2" required>
      </div>

y

      <button type="submit" class="btn btn-primary btn-block" nbButton status="success" (click)="editDemande(employee)" >Ajouter</button>
    </form>



  </div>
</div>


